<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="root" class="ua.kateros.sybd.entities.Root" />
    <bean id="databasesService" class="ua.kateros.sybd.servers.DatabaseController">
    </bean>

    <bean id="myFrame" class="ua.kateros.sybd.gui.MyFrame">
        <property name="databasesService" ref="databasesService"/>
    </bean>
    <bean id="mainForm" class="ua.kateros.sybd.gui.MainForm">
        <property name="frame" ref="myFrame"/>
    </bean>

</beans>